.navBar {
  background: cadetblue;
  /* box-shadow: 4px 2px 5px gray; */
  color: white;
  margin-bottom: 1rem;
  padding: 1rem 1rem;
  /* position: fixed; */
  top: 0;
  /* left: 0; */
  width: 100%;
  border-bottom: 1px solid black;
}

.navBar::after{
  content: '';
  display: table;
  clear: both;
}

.navBar ul {
  margin: 0;
  padding: 0;
  /* display: flex; */
  justify-content: space-between;
  list-style-type: none;
}

.navBar li {
  display: inline-block;
  font-size: 1rem;
  margin-left: 35px;
  padding-top: 10px;
}

.logo {
  float: left;
  padding: 5.5px;
}

.nav {
  float: right;
  text-transform:uppercase;
}

.navBar button {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  background: lavenderblush;
  color: black;
  cursor: pointer;
  border-color: black;
}
/* 
.brand {
  cursor: pointer;
  font-size: 2rem;
} */

.brand:hover{
  color:black;
}