.Link, .Link:visited {
    text-decoration: none;
    color: black;
    border: 1px black solid;
    font-weight: bold;
    padding: 3px;
    margin: 3.5px;
    display: flex;
    justify-content: center;
    max-width: 500px;
    background-color: ghostwhite;
}

.Link:hover {
    background: white;
    color: black;
    cursor:pointer;
    border-color: darkcyan;
  }
