.email-button {
    background-color: indianred;
    border: 2px solid black;
    color: white;
    padding: 0.4rem 0.5rem;
    margin: 1rem;
  }
  
  .email-button:hover{
    background: white;
    border: 2px solid black;
    color: indianred;
    padding: 0.4rem 0.5rem;
  }
  